{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <form class="col s12" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input name="uname" id="uname" type="text" class="validate" required>
                    <label for="uname">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="password" name="pword" id="pword" class="validate" required>
                    <label for="pword">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="tel" name="2fa" id="2fa" class="validate" required>
                    <label for="2fa">Two Factor Auth Device</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light orange" type="submit" name="action">Register
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
{% endblock %}