{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}History{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <form class="col s12" method="post">
            {{ form.csrf_token }}
            <div class="row s6">
                <div class="input-field col s6">
                    {{ form.userquery.label }}
                    {{ form.userquery(class="_validate") }}
                </div>
            </div>
            <button class="btn waves-effect waves-light orange" type="submit" name="action">Search History
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
    <div class="row">
        {% if q_list|length < 1 and user_exists and user_id %}
            <p>No questions found for user_id: {{ user_id }}</p>
        {% elif not user_exists and user_id %}
            <p>Unable to find a registered user for user_id: {{ user_id }}</p>
        {% elif q_list|length > 0 and user_exists %}
            <ul class="collection with-header">
                <li class="collection-header"><h4>Results</h4></li>
                {% for q in q_list %}
                    <a href="{{ url_for("history.item", item_id=q.id) }}" class="collection-item">Query{{ q.id }}</a>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}